//-------------------------------------------//
// Project Global Rule                       //
//-------------------------------------------//
body {
	margin: 0;
}

#app {
	color: #707070;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}